.card-front, .card-back {
    position: relative;
    width: 10rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}


.card-front-text, .card-back-text {
    position: absolute;
    text-align: center;
    margin: 0;
    left: 50%;
    top: 0%;
    width: 95%;
    transform: translate(-50%);
    word-wrap: break-word;
    user-select: none;
    font-size: 0.9rem;
}

.edit-card-icon {
    position: absolute;
    right: 0;
    z-index: 2;
}

.edit-card-icon:hover {
    cursor: pointer;
}

.hide {
    display: none;
}