.card-front, .card-back {
    position: relative;
    width: 10rem;
    height: 5rem;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}


.card-front-text, .card-back-text {
    position: relative;
    text-align: center;
    margin: 0;
    left: 50%;
    top: 50%;
    max-width: 95%;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    font-size: 1rem;
}

.hide {
    display: none;
}