.mcq-card {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 80%;
    height: 80%;
    transition: transform 1s ease;
    outline: 2px solid black;
    border-radius: 3px;
  }
  

  .mcq-options-container {
    position: absolute;
    width: 80%;
    max-width: 80%; 
    overflow-wrap: break-word;
  }
  
  ul {
    list-style-type: none;
  }


  .mcq-card h3 {
    margin: 0;
    text-align: center;
  }

  input {
    float: left;
  }
  p {
    position: relative;
    margin: 0;
    width: 80%;
    float: left;
  }

  .result-text {
    position: absolute;
    width: 80%;
    height: 10%;
    /* border: 2px solid black; */
    left: 10%;
    bottom: 20%;
    text-align: center;
  }

  .submit-mcq-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
  }