.review-header {
  margin: 0;
}

.review-container {
  position: absolute;
  width: 90%;
  height: 70%;
  left: 5%;
  bottom: 5%;
  border: 2px solid black;
  border-radius: 5px;
}

.review-card-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  height: 80%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 3px;
  overflow: hidden;
}

.review-btns-container {
  position: absolute;
  left: 50%;
  bottom: 2.5%;
  transform: translate(-50%);
  text-align: center;
}

.hide {
  display: none;
}
