.sign-in-text {
    margin: 0;
    text-align: center;
    padding-bottom: 2%;
}

.sign-in-container {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    left: 50%;
    transform: translate(-50%);
}

.input-container {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}

.username-input {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.password-input {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.sign-in-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
}

.sign-up-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 75%;
}
