.view-set-header {
  margin: 0;
}

.set-btns-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.add-card-menu,
.edit-card-menu,
.delete-card-menu,
.edit-set-menu,
.delete-set-menu {
  position: absolute;
  width: 40%;
  height: 40%;
  border: 3px solid black;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  background: #63dff2;
  z-index: 10;
}

.add-card-menu h4,
.edit-card-menu h4,
.delete-card-menu h4,
.delete-set-menu h4 {
  text-align: center;
  margin: 10px;
}

.card-front-input,
.card-back-input,
.edit-card-front-input,
.edit-card-back-input {
  position: relative;
  width: 95%;
  left: 2.5%;
  height: 50%;
  outline: none;
  background: none;
  border: none;
  resize: none;
}

.add-card-btn-container,
.edit-card-btn-container {
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: flex;
  gap: 5px;
}

.close-add-card-menu,
.close-edit-card-menu,
.close-delete-card-menu,
.close-edit-set-menu,
.close-delete-set-menu {
  position: absolute;
  right: 3px;
  top: 3px;
  transition: transform 0.7s ease-in-out;
}

.close-add-card-menu:hover,
.close-edit-card-menu:hover,
.close-delete-card-menu:hover,
.close-edit-set-menu:hover,
.close-delete-set-menu:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

.cards-container {
  position: relative;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  left: 3px;
  top: 3px;
}

.add-card-header,
.edit-card-header,
.delete-card-header,
.edit-set-header,
.delete-set-header {
  margin: 0;
  text-align: center;
}

.delete-card-menu-btns-container,
.delete-set-menu-btns-container {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  display: flex;
  gap: 3px;
}

.delete-card-descriptor {
  position: absolute;
  max-width: 95%;
  word-wrap: break-word;
}

.edit-set-input {
  outline: none;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 40%;
}

.edit-set-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10%;
}

.hide {
  display: none;
}
